<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <appSettings>
		<!-- access these values via the property:
			System.Configuration.ConfigurationManager.AppSettings[key]
		-->
		<add key="ChainLength" value="10" />
		<add key="ThreadsManufactur" value="6" />
    <add key="ThreadsLogist" value="3" />
    <add key="ThreadsConsumer" value="3" />
    <add key="myMaxGoods" value="10" />
	</appSettings>
</configuration>